html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #efefef;
}

#logout-button {
  background-color: #ff4c4c;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#logout-button:hover {
  background-color: #e04343;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  overflow: auto;
}
header img {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}
header h1 {
  font-size: 30px;
  color: #333;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 600px;
  max-width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.wrapper:hover {
  box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.2);
}

button,
.button {
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 15px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  background: rgb(63, 76, 255);
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
  background: rgb(0, 149, 27);
  transform: scale(1.02);
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 15px;
  transition: border-color 0.3s ease;
}

input[type="password"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 15px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #63a2ff;
  outline: none;
}

.contenedor-botones {
  display: none;
}

/* Nuevos estilos para pantallas pequeñas */
@media (max-width: 700px) {
  .contenedor-botones {
    display: block;
    margin-top: 10px;
  }

  .wrapper {
    width: 98%;
    padding: 5px;
  }

  header img {
    width: 50px;
    height: 50px;
  }

  header h1 {
    font-size: 20px;
  }

  /* Mostrar todos los botones en pantallas pequeñas */
  .botones button {
    display: inline-block;
  }
}

.mensaje-container {
  background-color: #dcf8c6; /* Color de fondo del mensaje */
  border: 1px solid #ddd; /* Borde */
  border-radius: 5px; /* Borde redondeado */
  padding: 10px; /* Espaciado interno */
  margin: 0 auto; /* Centrar horizontalmente */
  max-width: 80%; /* Anchura máxima */
  text-align: left; /* Alinear texto a la izquierda */
}

.bold {
  font-weight: bold; /* Hacer el texto en negrita */
}

.lista {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.lista div {
  display: table-cell;
  padding: 5px 10px;
  border: 1px solid #ddd;
}

.lista div:first-child {
  border-left: 100;
}

.lista div:last-child {
  border-right: 100;
}
